<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}">
    <title id="pageTitle">Profile</title>
</head>
<body>
    <div>
        <p th:text="${employee.firstName}"></p>
        <p th:text="${employee.lastName}"></p>
        <p th:text="${employee.email}"></p>
        <p th:text="${employee.login}"></p>

        <button>
            <a th:href="@{/profile/edit}">Edit profile</a>
            <!--<a th:href="@{/profile/{id}/edit (id=${employee.id})}">Edit profile</a>-->
        </button>
    </div>
</body>
</html>
