<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <title id="pageTitle">Home Page</title>
</head>
<body>
    <div th:remove="tag" th:replace="~{fragments/navbar :: navbar}"></div>
    <br>
    <br>

    <div class="container">

        <div id="my-projects">
            <div class="row">
                <div class="col-6">
                    <h1>My Projects</h1>
                    <hr>
                    <div th:each="project : ${assignedProjects}">
                        <a th:href="@{/projects/{id}/tasks (id = ${project.projectId})}">
                            <h4 th:text="${project.name}" th:value="${project.name}"></h4>
                        </a>
                        <hr>
                    </div>
                </div>

                <div class="col-6">
                    <h1>My Tasks</h1>
                    <hr>
                    <ul class="fa-ul" th:each="task : ${assignedTasks}">
                        <li>
                            <span class="fa-li"><i class="far fa-square"></i></span>
                            <span th:text="${task.title}"></span>
                            <a th:href="@{/projects/{id}/tasks (id = ${task.project.projectId})}">
                                <span class="badge badge-pill badge-primary" th:text="${task.project.name}"></span>
                            </a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div th:remove="tag" th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
