<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <h1>Register</h1>

    <div th:if="${registrationError}">
        Invalid username and password.
    </div>

    <form method="post" th:action="@{/registration}">
        <div><label> Email : <input name="email" type="email" /> </label></div>
        <div><label> User Name : <input name="login" type="text" /> </label></div>
        <div><label> Password: <input name="password" type="password" /> </label></div>
        <div><input type="submit" value="Register" /></div>
    </form>

    <h3><a th:href="@{/login}">Log In instead</a></h3>
</body>
</html>
