<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
    <div>
        <!-- User edit form -->
        <form action="#"
              class=""
              method="post"
              th:action="@{/employee/update/{id}(id = ${employee.id})}"
              th:object="${employee}">
            <div>
                <label for="employee-email">Email</label>
                <input id="employee-email" placeholder="Email" th:field="*{email}" type="email">

                <label for="employee-login">Login</label>
                <input id="employee-login" placeholder="Login" th:field="*{login}" type="text">

                <label for="employee-password">Password</label>
                <input id="employee-password" placeholder="password" th:field="*{password}" type="password">
            </div>

            <div>
                <label for="employee-first-name">First Name:</label>
                <input id="employee-first-name" placeholder="John" th:field="*{firstName}" type="text">

                <label for="employee-last-name">Last Name:</label>
                <input id="employee-last-name" placeholder="Doe" th:field="*{lastName}" type="text">
            </div>

            <!-- Todo: add activity radio-button -->
            <div>
                <label class="form-check-label" for="is-active-checkbox">
                    Activate employee profile
                </label>
                <input class="form-check-input" id="is-active-checkbox" th:field="*{active}" type="checkbox">
            </div>

            <p>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </p>
        </form>

        <!-- Delete employee button-->
        <button type="submit">
            <a th:href="@{/employee/delete/{id} (id = ${employee.id})}">
                Delete Employee
            </a>
        </button>
    </div>
</body>
</html>
