<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Project Lead</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td th:text="${project.projectId}"></td>
                    <td th:text="${project.name}">></td>
                    <td>XXX</td>
                </tr>
                </tbody>
            </table>

            <button><a th:href="@{/projects/edit/{id}(id = ${project.projectId})}">Edit</a></button>

            <button type="submit">
                <!--<a th:href="@{/projects/}"></a>-->
                <a href="/projects"> Go to the projects view</a>
            </button>
        </div>
    </div>
</body>
</html>
