<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}">
    <title id="pageTitle">Projects List</title>
</head>
<body>
    <div th:remove="tag" th:replace="~{fragments/navbar :: navbar}"></div>
    <br>
    <br>

    <div class="container">
        <!-- Create new project button -->
        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-success" th:href="@{/projects/new}">
                Create new project
            </a>
        </div>
        <br>
        <br>

        <!-- Search Bar -->
        <form method="post" th:action="@{/projects}">
            <div class="input-group">
                <label>
                    <input class="form-control" name="filter" placeholder="Project Name" type="text">
                </label>
                <button class="btn btn-info btn-sm" type="submit">Search Projects</button>
            </div>
        </form>
        <br>
        <br>
        <br>

        <!-- Project List -->
        <div class="jumbotron-fluid">
            <h1>List of projects</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Status</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="project : ${projects}">
                    <th scope="row" th:text="${project.projectId}"></th>
                    <td>
                        <a style="color: black" th:href="@{/projects/{id}/tasks (id = ${project.projectId})}"
                           th:text="${project.name}"></a>
                    </td>

                    <td th:text="${project.status.title}"></td>

                    <td>
                        <button class="btn btn-warning btn-sm">
                            <a th:href="@{/projects/edit/{id}(id = ${project.projectId})}">Edit</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
