<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}">
    <title id="pageTitle">Edit Project</title>
</head>

<body>
    <div th:remove="tag" th:replace="~{fragments/navbar :: navbar}"></div>
    <br>
    <br>

    <div class="container">
        <form method="post"
              th:action="@{/projects/update/{id}(id = ${project.projectId})}"
              th:object="${project}">
            <input hidden id="id" th:field="*{projectId}" type="text">

            <div class="form-group">
                <label for="project-name"><b>Edit project name</b></label>
                <input class="form-control" id="project-name" placeholder="Project Name" th:field="*{name}" type="text">
                <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            </div>

            <div class="form-group">
                <label for="project-description">Change project description</label>
                <textarea class="form-control" id="project-description" placeholder="Enter Project Description"
                          th:field="*{description}"
                          type="text">
            </textarea>
            </div>

            <div class="form-group">
                <label for="status-selector">Update project status</label>
                <select class="form-control" id="status-selector" name="" th:field="*{status}">
                    <option th:each="status : ${projectStatuses}"
                            th:text="${status.title}"
                            th:value="${status.id}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="employees">Assign employees for project</label>
                <select class="form-control" id="employees" multiple="multiple" th:field="*{assignedEmployees}">
                    <option th:each="employee : ${activeEmployees}"
                            th:text="${employee.firstName} + ' ' + ${employee.lastName} + ' – ' + ${employee.login}"
                            th:value="${employee.id}">
                    </option>
                </select>
            </div>

            <div>
                <button class="btn btn-success" type="submit">Update Project</button>
            </div>

        </form>
        <br>

        <div>
            <button class="btn btn-danger" type="submit">
                <a th:href="@{/projects/delete/{id}(id = ${project.projectId})}">Delete</a>
            </button>
        </div>
    </div>
</body>
</html>
