<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Project Lead</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td th:text="${project.projectId}"></td>
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.description}"></td>
                    <td>XXX</td>
                </tr>
                </tbody>
            </table>

            <button><a th:href="@{/projects/edit/{id}(id = ${project.projectId})}">Edit</a></button>

            <button type="submit">
                <!--<a th:href="@{/projects/}"></a>-->
                <a href="/projects"> Go to the projects view</a>
            </button>
        </div>

        <hr>

        <div>
            <form action="#" method="post"
                  th:action="@{/projects/{id}/tasks/new (id = ${project.projectId})}"
                  th:object="${task}"
            >
                <input th:field="*{id}" type="hidden">

                <label for="task-title">
                    <input id="task-title" placeholder="Buy milk..." th:field="*{title}" type="text">
                </label>
                <label for="task-description">
                    <textarea id="task-description" placeholder="Task Description"
                              th:field="*{description}" type="text">
                    </textarea>
                </label>

                <button type="submit">Add Task</button>
            </form>
        </div>

        <hr>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="task : ${availableTasks}" th:object="${availableTasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td>
                        <button>
                            <a th:href="@{/projects/{id}/tasks/{taskId}/edit (id = ${project.projectId}, taskId=${task.id})}">
                                Edit
                            </a>
                        </button>
                    </td>
                    <td>
                        <!--<button>-->
                        <!--    <a th:href="@{/projects/{id}/tasks/{taskId}/status (id = ${project.projectId}, taskId=${task.id})}"-->
                        <!--       th:name="status" th:value="complete">-->
                        <!--        Complete-->
                        <!--    </a>-->
                        <!--</button>-->
                        <form action="#" method="post"
                              th:action="@{/projects/{id}/tasks/{taskId}/status (id = ${project.projectId}, taskId=${task.id})}"
                              th:object="${task}">
                            <button th:name="status" th:value="complete" type="submit">
                                Complete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>
            <hr>

            <table>
                <h3>Completed tasks</h3>
                <tbody>
                <tr th:each="completedTask : ${completedTasks}">
                    <td>
                        <s><p th:text="${completedTask.title}"></p></s>
                    </td>
                    <td>
                        <form action="#" method="post"
                              th:action="@{/projects/{id}/tasks/{taskId}/status (id = ${project.projectId}, taskId=${completedTask.id})}"
                              th:object="${completedTask}">
                            <button th:name="status" th:value="uncomplete" type="submit">
                                Undo
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
